1. Write a code to reverse a string.

In [ ]:
string1 = "hello! word"
string1[::-1]

'drow !olleh'

2.Write a code to count the number of vowels in a string

In [ ]:
str1 = "hammad khan usafzai"
vowels = ['a','e','i','o','u']
count = 0
for ch in str1:
    if ch in vowels:
        count+=1

print(count)

7

3.Write a code to check if a given string is a palindrome or not

In [2]:
string1 = input("enter the string :- ").strip().lower()
inverted_String = string1[::-1]
if inverted_String == string1:
    print("palindrome")
else:
    print("not palindrome")

enter the string :- radar
palindrome

4.Write a code to check if two given strings are anagrams of each other

In [4]:
str1  = input("enter the string 1 :- ").strip().lower()
str2 = input("enter the string2 :- ").strip().lower()

if sorted(str1) == sorted(str2):
    print("anagram")
else:
    print("not anagram")

enter the string 1 :- evil
enter the string2 :- vile
anagram

5. Write a code to find all occurrences of a given substring within another string

In [ ]:
str1 = "this world is beutiful. this world has reivers and seas. this world has forests and mountains"
check_String = 'world'

str1.count(check_String)

3

6. Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
string1 = 'aaabbbccccddddd'
set_ = set()
for ch in string1:
    set_.add(ch)

unique_element = sorted(tuple(set_))
compressed_string = ""
for element in  unique_element:
    count = string1.count(element)
    compressed_string = compressed_string+element+str(count)

print(compressed_string)

a3b3c4d5

7.Write a code to determine if a string has all unique characters

In [6]:
str1 = input("enter the string :- ")
flag = 0
for i in str1 :
    if str1.count(i) > 1:
        print(f"no unique characters are present, {i} is present {str1.count(i)} times")
        flag  = 1
        break

if flag == 0:
    print("the string has unique characters")

enter the string :- asif khan
no unique characters are present, a is present 2 times

8.Write a code to convert a given string to uppercase or lowercase

In [8]:
str1 = input("enter the string :- ").strip()

print(f"upper case string = {str1.upper()} && lower case string = {str1.lower()}")

enter the string :- Physics wallah
upper case string = PHYSICS WALLAH && lower case string = physics wallah

9.Write a code to count the number of words in a string

In [9]:
str1 = input("enter the string :- ").strip().split()
print(f"the number of words in the string are {len(str1)}")

enter the string :- i am a student at physics wallah
the number of words in the string are 7

10.Write a code to concatenate two strings without using the + operator

In [11]:
str1 = input("enter the string1 :- ").strip()
str2 = input("enter the string2 :- ").strip()

str3 = " ".join([str1,str2])
str3

enter the string1 :- welcome back
enter the string2 :- hammad

'welcome back hammad'

11.Write a code to remove all occurrences of a specific element from a list

In [ ]:
list1 = [1,2,3,4,1,3,1,4,2,4,4,1,4]
element = int(input("enter the element to remove"))
list1 = [x for x in list1 if x != element]
list1

[2, 3, 4, 3, 4, 2, 4, 4, 4]

12.Implement a code to find the second largest number in a given list of integers

In [ ]:
list1 = [1,2,3,2,55,66,11,99,55,22,98,99,111,55]
element = max(list1)
list1 = [x for x in list1 if x != element]
print(f"the first largest element was {element}.\nthe second largest element is {max(list1)}")

the first largest element was 111.
the second largest element is 99

13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [ ]:
list1 = [1,2,3,2,55,66,11,99,55,22,98,99,111,55]
diction = {}
for element in list1:
    diction[element] = list1.count(element)

for key  in diction:
    print(f"{key} --> {diction[key]}")

1 --> 1
2 --> 2
3 --> 1
55 --> 3
66 --> 1
11 --> 1
99 --> 2
22 --> 1
98 --> 1
111 --> 1

14. Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
list = ['a','b','c','d']
list = list[::-1]
list

['d', 'c', 'b', 'a']

15. Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [12]:
list1 = [1,2,3,2,55,66,11,99,55,1,3,22,98,99,111,55]
diction = {}
for element in list1:
    diction[element] = 0

list1 = list(diction.keys())
list1

[1, 2, 3, 55, 66, 11, 99, 22, 98, 111]

16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
diction = {
'list1' : [1,2,3,4,5,6,7,8,9,10],
'list2' : [10,9,8,7,6,5,4,3,2,1],
'list3' : [10,9,8,7,6,5,4,3,2,1,11],
'list4' : [1,2,3,4,5,6,7,8,9,10,3],
}

for list in diction:
    diction_list = diction[list]
    list5 = diction_list.copy()

    if sorted(list5) == diction_list:
        print(f"the {list} is sorted in assending order")
    elif sorted(list5 , reverse=True) == diction_list:
        print(f"the {list} is sorted in descending order")
    else:
        print(f"the {list} is not sorted")

the list1 is sorted in assending order
the list2 is sorted in descending order
the list3 is not sorted
the list4 is not sorted

17. Write a code to merge two sorted lists into a single sorted list

In [ ]:
list1 = [1,5,7,2,9,3,7]
list2 = [99,1,56,34,3,11]
list1 = sorted(list1)
list2 = sorted(list2)
list3 = sorted(list1 + list2)
list3

[1, 1, 2, 3, 3, 5, 7, 7, 9, 11, 34, 56, 99]

18. Implement a code to find the intersection of two given lists

In [ ]:
list1 = [1,5,7,2,9,3,7]
list2 = [99,1,56,34,3,11]
intersection = []
for element in list1 :
    if element in list2:
        intersection.append(element)

intersection

[1, 3]

19. Create a code to find the union of two lists without duplicates

In [ ]:
list1 = [1,5,7,2,9,99,3,7]
list2 = [99,1,56,34,3,7,11]
list1.extend(list2)
set_ = set()
for element in list1:
    set_.add(element)

set_

{1, 2, 3, 5, 7, 9, 11, 34, 56, 99}

20. Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
import random
list1 = [1,5,7,2,9,99,3,7]

print(f"the orignal list is {list1}")

for i in range(len(list1)):
    index = random.randint(0,len(list1) - 1)
    temp = list1[i]
    list1[i] = list1[index]
    list1[index] = temp

print(f"the shuffled list is :- {list1}")

the orignal list is [1, 5, 7, 2, 9, 99, 3, 7]
the shuffled list is :- [5, 9, 7, 99, 7, 2, 1, 3]

21. Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
tuple1 = (1,5,7,2,9,99,3,7)
tuple2 = (99,1,56,34,3,7,11)
set1 = set(tuple1)
set2 = set(tuple2)
tuple3 = tuple(set1 & set2)
tuple3

(3, 1, 99, 7)

22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [13]:
set1 = set(input("enter the set 1 :- ").strip().split(','))
set2 = set(input("enter the set2 :- ").strip().split(','))
set1 & set2

enter the set 1 :- 1,2,3,4,5,99
enter the set2 :- 3,78,2

{'2', '3'}

23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [ ]:
def concat_tuple(tup, tup2):
    tuple3 = tup+tup2
    return tuple3

tuple1 = (1,5,7,2,9,99,3,7)
tuple2 = (99,1,56,34,3,7,11)

print(concat_tuple(tuple1,tuple2))

(1, 5, 7, 2, 9, 99, 3, 7, 99, 1, 56, 34, 3, 7, 11)

24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set

In [16]:
string1 = set(input("enter the first string :- ").strip().split())
string2 = set(input("enter the second string :- ").strip().split())
string1 - string2

enter the first string :- hammad is a student
enter the second string :- asif is not a student

{'hammad'}

25. Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [17]:
tuple = (1,2,3,4,5,6,7,8,9,10)
input1 = int(input("enter the start index :- "))
input2 = int(input("enter the end index :- "))

if input1 <0 or input1 >= len(tuple):
    print("wrong input")
elif input2 >= len(tuple) or input2 < 0:
    print("index out of range")
else:
    print(tuple[input1:input2])

enter the start index :- 2
enter the end index :- 7
(3, 4, 5, 6, 7)

26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [18]:
set1 = set(input("enter the set1 of characters seperatted by commas:-").strip().split(','))
set2 = set(input("enter the set2 of characters seperatted by commas:-").strip().split(','))
set1 | set2

enter the set1 of characters seperatted by commas:-a,b,x,s
enter the set2 of characters seperatted by commas:-x,y,a

{'a', 'b', 's', 'x', 'y'}

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking|

In [ ]:
tuple1 = (1,2,3,44,0,5,6,2,1,111)
first , *middle , last = sorted(tuple1)
print(f"the maximim value is {last} the smalles value is {first}")

the maximim value is 111 the smalles value is 0

28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [ ]:
set1 = set([1,2,3,4,5,11,12,14,55,33])
set2 = set([5,3,2,87,4,3,2,76,11])

print(f"union :- {set1 | set2}\nintersection :- {set1 & set2}\ndifference :- {set1 - set2}")

union :- {1, 2, 3, 4, 5, 33, 11, 12, 76, 14, 87, 55}
intersection :- {2, 3, 4, 5, 11}
difference :- {1, 33, 12, 14, 55}

29. Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [ ]:
tuple1 = (1,2,3,44,0,5,6,2,1,111,2)
tuple1.count(2)

3

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [19]:
set1 = set(input("enter the string 1 :- ").strip().split())
set2 = set(input("enter the string 2 :- ").strip().split())
print(set1^set2)

enter the string 1 :- hello hammad. you study data
enter the string 2 :- welcome hammad. are you fine
{'hello', 'are', 'welcome', 'data', 'study', 'fine'}

31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list

In [ ]:
words = ["apple", "banana", "apple", "orange", "banana", "grape", "apple"]
diction = {}
for element in words:
    diction[element] = words.count(element)

for key in diction:
    print(f"{key} --> {diction[key]}")

apple --> 3
banana --> 2
orange --> 1
grape --> 1

32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together

In [ ]:
dict1 = {'apple': 3, 'banana': 2, 'orange': 5}
dict2 = {'banana': 4, 'kiwi': 1, 'apple': 2}

for key in dict1 :
    if key in dict2:
        dict2[key] = dict2[key] + dict1[key]
    else:
        dict2[key] = dict1[key]

for key in dict2 :
    print(f"{key} ---> {dict2[key]}")

banana ---> 6
kiwi ---> 1
apple ---> 5
orange ---> 5

33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [ ]:
def funct(dict , keys):
    diction = dict
    for key in keys:
        if key in diction:
            diction = diction[key]
        else:
            return None

    return diction

nested_dict = {
    'a': {
        'b': {
            'c': 42
        }
    },
    'x': {
        'y': {
            'z': 99
        }
    }
}

keys = ['a','b','c']

print(funct(nested_dict,keys))

keys = ['x','y','z']

print(funct(nested_dict,keys))

42
99

34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

In [ ]:
dict1 = {'a':11,'b':1,'c':7,'d':2}
values = list(sorted(dict1.values()))

for index , element in enumerate(values):
    for key in dict1:
        if dict1[key] == element:
            keys[index] = key

sorted_dict = {x:y for x,y in zip(keys,values)}
sorted_dict

{'b': 1, 'd': 2, 'c': 7, 'a': 11}

35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary

In [ ]:

original_dict = {
    'apple': 1,
    'banana': 2,
    'orange': 1,
    'kiwi': 3,
    'mango': 2
}

inverted_diction = {}
for keys in original_dict:
    value = original_dict[keys]
    if value in inverted_diction:
        inverted_diction[value].append(keys)
    else:
        inverted_diction[value] = [keys]


print(inverted_diction)

{1: ['apple', 'orange'], 2: ['banana', 'mango'], 3: ['kiwi']}